page-city-selection {
    .location-city{
        font-size: 15px;
        color: #333333;
        padding: 12px 29px 12px 13px;
    }
    .location-type{
        font-size: 13px;
        color: #666666;
    }

    .location-bar{
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #ffffff;        
    }
    .content{
        background-color: #efeff4;
    }
    .history-title{
        padding: 10px 10px 0 10px;
        background-color: transparent;
        font-size: 13px;
        color: #666666;
        margin: 0;
    }
    .city-row{
        padding: 5px 15px;
    }
    .city-row ion-col{
        text-align: center;
        background-color: #ffffff;        
        margin:0 10px 10px 10px;    
        height: 40px;  
        padding-top: 13px;
        border: 0.5px solid #c9c9c9;
        border-radius: 5px;  
    }
.loan_jm1{width:94%;margin:0 auto;}
.loan_jm_spa1{width:39%;height:40px;line-height:40px;font-size:1em;color:#666;display:block;float:left;}
.loan_jm_l1{margin-top:10px;margin-bottom:15px;height:40px;}
.wbk_srn{width:57%;height:40px;border:1px solid #ccc;background:#FFF;float:left;padding-left:3%;line-height:40px;color:#ADADAD;
font-size:1.1em; background-size:45%;background-position:center;background:#fff;}
.wbk_srn b{width:30px;height:40px;border:1px solid #ccc;background:#FFF;float:left;padding-left:3%;line-height:40px;color:#ADADAD;
font-size:1.1em; background-size:45%;background-position:center;background:url(../img/xl.png) right 5px no-repeat;}

/*城市弹层*/
.container{width:100%;position:absolute;left:0;background-color:#ffffff;}
.letter{overflow:hidden;line-height:23px;font-size:16px;position:fixed;top:75px;right:10px;text-align:center;}
.letter ul{list-style-type:none;}
.letter ul li{width: 100%;}
.letter ul li a{text-decoration:none;color: #666666;}
.city{width:90%;overflow:hidden;padding:10px;}
.city-list{width:100%;overflow:hidden;}
.city-list .city-letter{color:#666666;font-size:13px;display:inline-block;padding-top:15px;padding-bottom:5px;border-bottom:1px solid #e8ecf1;width:100%;}
.city-list p{color:#333333;font-size: 13px; width:95%;height:45px;line-height:45px;border-bottom:1px solid #e8ecf1;cursor:pointer;margin: 0;margin-left: 9px}
.UISelect{margin-top:5px}
}
