page-flux-give-success {
.rightcirlce{
        font-size: 112px!important;
    }
    .reginfo{
        margin-top: 49px;
        margin-bottom: 38px;
        text-align: center;
        font-size: 18px;
        color: #888;
    }
    button{
        font-size: 21px!important;
        height: 56px!important;
        border-radius: 15px!important;
    }
}
