page-invite {
    .content{
        font-size: 18px;
        color: #888888;
        text-align: center;
    }
    .txt1{
        margin-top: 51px;
        margin-bottom: 29px;
    }
    .txt2{
        margin-top: 51px;        
    }

    .invite_code{
        font-size: 22px;
        color: #0388dc;
        
    }
    .qrcode{
        margin-top: 37px;
        width: 80%;
    }
    .txt3{
        color: #999999;
        margin-top: 20px;
    }
}
