page-zhaopin-list {
.item-distance{
    font-size: 20px;
    color: #333333;
    text-align: right;
}
.item-salery{
       font-size: 15px;
    color: #ff5650; 
}
.msg-title{
        font-size: 16px;
    color: #333333;
    margin-top: 6px;
    margin-bottom: 13px;
}
.msg-content{
           font-size: 15px;
    color: #666666; 
}
.my-arrow{
    margin-left:10px !important;

}
}
