page-reward-rules {
    .p-tittle{
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        color: #333
    }
    .p-contatn{
        font-size: 13px;
        color: #888;
        text-indent: 2em;
    }

}
