page-change-passwords {
.slogan{
        margin-top: 115px;
        margin-bottom: 32px;
    }
    .submmit{
        margin-top: 73px;
    }
    .item-inner{
  border-bottom: 0px !important;
}
.font-12{
    font-size: 12px;
}
}
